<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="create content">
            <form action="/actors/<%= locals.theId %>?_method=PUT" method="POST">
                <label>Replace Actor Names:</br>
                    <input type="text" name="firstName" value="<%= locals.firstName %>" required>
                    <input type="text" name="lastName" value="<%= locals.lastName %>" required>
                </label></br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>