<!-- flight.ejs -->




<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <h1>Flight Details</h1>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search flights">
            <button type="submit">Search</button>
        </form>
        <% if (flight) { %>
            <ul>
                <li><strong>Flight Number:</strong>
                    <%= flight.flight_no %>
                </li>
                <li><strong>Destination:</strong>
                    <%= flight.arrival_airport %>
                </li>
                <li><strong>Departure Time:</strong>
                    <%= flight.scheduled_departure %>
                </li>
            </ul>
            <% } else { %>
                <p>No flight details available.</p>
                <% } %>

                    <a href="/flights">Back to Flights</a>
    </body>
    <%- include('./partials/foot.ejs') %>

</html>